In [7]:
import pandas as pd

# Load the train and test datasets
train_file_path = "train.csv"
test_file_path = "test.csv"

# Reading the CSV files into pandas DataFrames
train_df = pd.read_csv(train_file_path)
test_df = pd.read_csv(test_file_path)

# Checking the first few rows of each dataset
train_df_head = train_df.head()
test_df_head = test_df.head()

train_df_head, test_df_head

(  last contact date  age           job  marital  education default  balance  \
 0        2009-04-17   26   blue-collar  married  secondary      no      647
 1        2009-10-11   52    technician  married  secondary      no      553
 2        2010-11-20   44   blue-collar  married  secondary      no     1397
 3        2009-09-01   33        admin.  married  secondary      no      394
 4        2008-01-29   31  entrepreneur   single   tertiary      no      137

   housing loan    contact  duration  campaign  pdays  previous poutcome target
 0     yes   no   cellular       357         2    331         1    other     no
 1     yes   no  telephone       160         1     -1         0      NaN     no
 2      no   no   cellular       326         1     -1         0      NaN     no
 3     yes   no  telephone       104         3     -1         0      NaN     no
 4      no   no   cellular       445         2     -1         0      NaN     no  ,
   last contact date  age          job  marital  education default  balance  \
 0        2009-11-21   36   management   single   tertiary      no        7
 1        2010-02-04   30   unemployed  married   tertiary      no     1067
 2        2010-07-28   32  blue-collar   single  secondary      no       82
 3        2010-06-09   38       admin.  married    primary      no     1487
 4        2008-03-02   59   management  married   tertiary      no      315

   housing loan   contact  duration  campaign  pdays  previous poutcome
 0      no   no       NaN        20         1     -1         0      NaN
 1      no   no  cellular        78         2     -1         0      NaN
 2     yes   no  cellular        86         4     -1         0      NaN
 3      no   no       NaN       332         2     -1         0      NaN
 4      no   no  cellular       591         1    176         2  failure  )

In [8]:
# Check the first few rows of the data
print(train_df.head())
print(test_df.head())

# Summary of data including column types and missing values
print(train_df.info())
print(test_df.info())

# Basic statistics of numerical columns
print(train_df.describe())
print(test_df.describe())

  last contact date  age           job  marital  education default  balance  \
0        2009-04-17   26   blue-collar  married  secondary      no      647
1        2009-10-11   52    technician  married  secondary      no      553
2        2010-11-20   44   blue-collar  married  secondary      no     1397
3        2009-09-01   33        admin.  married  secondary      no      394
4        2008-01-29   31  entrepreneur   single   tertiary      no      137

  housing loan    contact  duration  campaign  pdays  previous poutcome target
0     yes   no   cellular       357         2    331         1    other     no
1     yes   no  telephone       160         1     -1         0      NaN     no
2      no   no   cellular       326         1     -1         0      NaN     no
3     yes   no  telephone       104         3     -1         0      NaN     no
4      no   no   cellular       445         2     -1         0      NaN     no
  last contact date  age          job  marital  education default  balance  \
0        2009-11-21   36   management   single   tertiary      no        7
1        2010-02-04   30   unemployed  married   tertiary      no     1067
2        2010-07-28   32  blue-collar   single  secondary      no       82
3        2010-06-09   38       admin.  married    primary      no     1487
4        2008-03-02   59   management  married   tertiary      no      315

  housing loan   contact  duration  campaign  pdays  previous poutcome
0      no   no       NaN        20         1     -1         0      NaN
1      no   no  cellular        78         2     -1         0      NaN
2     yes   no  cellular        86         4     -1         0      NaN
3      no   no       NaN       332         2     -1         0      NaN
4      no   no  cellular       591         1    176         2  failure
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39211 entries, 0 to 39210
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   last contact date  39211 non-null  object
 1   age                39211 non-null  int64
 2   job                38982 non-null  object
 3   marital            39211 non-null  object
 4   education          37744 non-null  object
 5   default            39211 non-null  object
 6   balance            39211 non-null  int64
 7   housing            39211 non-null  object
 8   loan               39211 non-null  object
 9   contact            28875 non-null  object
 10  duration           39211 non-null  int64
 11  campaign           39211 non-null  int64
 12  pdays              39211 non-null  int64
 13  previous           39211 non-null  int64
 14  poutcome           9760 non-null   object
 15  target             39211 non-null  object
dtypes: int64(6), object(10)
memory usage: 4.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   last contact date  10000 non-null  object
 1   age                10000 non-null  int64
 2   job                9941 non-null   object
 3   marital            10000 non-null  object
 4   education          9610 non-null   object
 5   default            10000 non-null  object
 6   balance            10000 non-null  int64
 7   housing            10000 non-null  object
 8   loan               10000 non-null  object
 9   contact            7316 non-null   object
 10  duration           10000 non-null  int64
 11  campaign           10000 non-null  int64
 12  pdays              10000 non-null  int64
 13  previous           10000 non-null  int64
 14  poutcome           2492 non-null   object
dtypes: int64(6), object(9)
memory usage: 1.1+ MB
None
                age        balance      duration      campaign         pdays  \
count  39211.000000   39211.000000  39211.000000  39211.000000  39211.000000
mean      42.120247    5441.781719    439.062789      5.108770     72.256051
std       12.709352   16365.292065    769.096291      9.890153    160.942593
min       18.000000   -8019.000000      0.000000      1.000000     -1.000000
25%       33.000000      98.000000    109.000000      1.000000     -1.000000
50%       40.000000     549.000000    197.000000      2.000000     -1.000000
75%       50.000000    2030.000000    380.000000      4.000000     -1.000000
max       95.000000  102127.000000   4918.000000     63.000000    871.000000

           previous
count  39211.000000
mean      11.826171
std       44.140259
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      275.000000
                age        balance      duration      campaign         pdays  \
count  10000.000000   10000.000000  10000.000000  10000.000000  10000.000000
mean      42.261200    5328.789200    437.117700      5.159700     71.705700
std       12.650137   15944.545194    761.232963      9.975928    160.374253
min       18.000000   -3372.000000      0.000000      1.000000     -1.000000
25%       33.000000      92.000000    108.000000      1.000000     -1.000000
50%       40.000000     541.000000    196.000000      2.000000     -1.000000
75%       50.000000    2051.000000    380.000000      4.000000     -1.000000
max       94.000000  101418.000000   4909.000000     63.000000    871.000000

           previous
count  10000.000000
mean      12.028100
std       44.467155
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      275.000000